*.gz
*.zip
*.csv
*.CSV
*.png
SkillTreePython-DeepLearning-main/00.추가학습/coco.names
SkillTreePython-DeepLearning-main/00.추가학습/opencv_example.mp4
SkillTreePython-DeepLearning-main/00.추가학습/opencv_example2.jpg
*.jpg
SkillTreePython-DeepLearning-main/coco.names
SkillTreePython-DeepLearning-main/00.추가학습/yolov3.weights
SkillTreePython-DeepLearning-main/00.추가학습/yolov3.cfg
SkillTreePython-DeepLearning-main/imgs/opencv_example.mp4
*.pyc
*.names
*.cfg
*.weights
*.mp4
*.pdf
*.xlsx
*.npz
*.index
*.h5
*.data-00000-of-00001
SkillTreePython-DeepLearning-main/Tensorflow_core/기본서/temp/training_2/checkpoint
SkillTreePython-DeepLearning-main/Tensorflow_core/기본서/temp/training_1/checkpoint
*.pb
SkillTreePython-DeepLearning-main/Tensorflow_core/기본서/temp/checkpoints/checkpoint
*.model
*.npy
Paper_with_code/.ipynb_checkpoints/ch04_02_multiclass_segmentation-checkpoint.ipynb
*.v2
*checkpoint.ipynb
Web UI/.ipynb_checkpoints/Untitled-checkpoint.ipynb
